### Exploratory Data Analysis

This case study is to get familiarized with Data manipulation using Pandas. The dataset involves records of terrorist attacks that took place around the world since 1970. Description of columns are given wherever necessary along with hints to answer the questions.
Answer the following questions using the dataset: terror_gtd.csv

Which country had highest attacks since 1970? How many attacks happened in India?

In [ ]:
# load the packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt  # Data visualization
import seaborn as sns             # Data visualization
%matplotlib inline

In [ ]:
#load the data
terror=pd.read_csv("D://Files//terror_gtd.csv",encoding='latin')

In [ ]:
 # view 3 observations from the data

In [ ]:
 # number of observations, number of variables in the data

In [ ]:
#Which country had highest attacks since 1970?

In [ ]:
# visualization

**Iraq country had highest attacks since 1970.**

In [ ]:
#How many attacks happened in India

In [ ]:
#How many attacks happened in India and upto 7 people were killed?
#Hint: Use the country_txt and nkill column.

In [ ]:
# Extract any 4 cities and summary for attacks above
# Hint: Use country_txt, nkill,city and summary columns

In [ ]:
#In a single terror incident in India, find out top 3 cities by number killed
#Hint: Use each row as a unique terror incident.
#Use country_txt, nkill and city columns

In [ ]:
###


sns.barplot(x=cities['city'],y=cities['nkill'])
plt.title("Top 3 cities by number killed")
plt.xlabel("Cities")
plt.ylabel("nkill")
plt.xticks(rotation=90)

x=cities['city'].values
y=cities['nkill'].values
# adding labels/text in the bar
def addlabels(x,y):
    for i in range(len(x)):
        plt.text(i,y[i]//2,y[i],ha='center')
#calling the function to add value labels
addlabels(x,y)

In [ ]:
#In a single terror incident in India, find out top 5 cities by number killed and wounded
#Hint: Use each row as a unique terror incident. Use country_txt, nkill, nwound and city columns
#nwound : Total Number of Injured

In [ ]:
###6. Label all the incidents where the number killed was more than 10 as severe. How many incidents were Severe?
#Hint: Use Aggregations and manipulations using apply and map
#You can use lambda functions as well.
#Use the nkill column.
#Suppose we want to label all the incidents where the number killed was more than 10 as severe. This would involve applying a function on each element of the series, map helps in doing that


# terror['nkill_new']=terror['nkill'].map(lambda x: 'Severe' if x>10 else 'Not Severe')

7. How many attacks were successful that were suicide attacks? Also, how many suicide attacks were not successful?

Hint: Use suicide and success columns

1 = "Yes" The incident was a suicide attack.
0 = "No" There is no indication that the incident was a suicide attack
1 = "Yes" The incident was successful.
0 = "No" The incident was not successf

In [ ]:
terror['Success_Suicide']=terror['suicide']+terror['success']
terror=terror.assign(success_suicide_1=terror['suicide']+terror['success'])
terror.query('success_suicide_1==2').shape[0]

In [ ]:
terror.success_suicide_1.value_counts()

In [ ]:
fig,ax=plt.subplots(1,2,figsize=(21,6))
sns.countplot(x="success",ax=ax[0],data=terror).set_title("success")
terror['suicide'].value_counts().plot.pie(ax=ax[1],autopct="%.1f%%")

In [ ]:
### Terrorist activities by region in each year 
#area plot

In [ ]:
# Sum of missing values in the data

### summary of insights
- **Iraq country had highest attacks since 1970**
- **Mumbai(188.0) Jhargam (115.0), Bombay (115.0) are top 3 cities had highest number of killed attacks"**
- **There are 4% Severe attacks were happend.**
- **There are missing values in the location, summary ,city nkill, nwound and state variables in the data**

#### Check for Duplicate records

In [ ]:
# drop duplicates

#### Missing value treatment

- <5%--> remove only missing observation
- lies between 5% to 30%--> do imputation (mean/median/mode/unknown category)--(mean/median-contniuous                                                    variables, mode/unknown-categorical)
- >30% --> drop the column/variable

In [ ]:
## replace missing values of 'nkill' variable with median value
#terror['nkill']=terror['nkill'].fillna(1)

In [ ]:
# find mode value

In [ ]:
# replace missing value of provstate variable by mode value
#terror['provstate']=terror['provstate'].fillna('Baghdad')

In [ ]:
##na_values=['Missing','?']

In [ ]:
# drop the column/variable --> location

In [ ]:
### removing only missing observations(<5%)

#### Encoding Technique
- converting categorical variables into numerical/factor

In [ ]:
# one hot encoding --> create dummy variables--> increases dimensionality
# label encoding--> convert into factor variable.
# if less categories(not more than 10) are in the variable/variable is ordinal--> label encoder

In [ ]:
### one hot encoding:
#terror=pd.get_dummies(terror)

In [ ]:
###Laebl encoder

In [ ]:
-------------------------------------------------- End --------------------------------------------------------